<svg viewBox="0 0 100 100" >

    <g id="button">
    <path
        style="fill:#00ff00;opacity:1;vector-effect:none;fill-opacity:1;stroke:none;stroke-width:13.88500595;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:markers fill stroke"
        d="M 50.000001,2e-6 A 50,50 0 0 0 0,50.000002 50,50 0 0 0 50.000001,99.999999 50,50 0 0 0 100,50.000002 50,50 0 0 0 50.000001,2e-6 Z m 0,5.601563 c 24.489351,0 44.398438,19.909087 44.398438,44.398437 0,24.489347 -19.909087,44.398437 -44.398438,44.398437 -24.48935,0 -44.398441,-19.90909 -44.398441,-44.398437 0,-24.48935 19.909091,-44.398437 44.398441,-44.398437 z m 0,5.246093 c -21.654109,0 -39.152341,17.498235 -39.152341,39.152344 0,21.654107 17.498232,39.152347 39.152341,39.152347 21.65411,0 39.152344,-17.49824 39.152344,-39.152347 0,-21.654109 -17.498234,-39.152344 -39.152344,-39.152344 z"
        id="circle926" />
    <text
        id="text935"
        y="59.576427"
        x="49.999763"
        style="fill:#00ff00;stroke:#00ff00;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:28.43423271px;line-height:1.25;font-family:'AR JULIAN';-inkscape-font-specification:'AR JULIAN, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:center;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:middle;fill-opacity:1;stroke-width:4;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
        xml:space="preserve"><tspan
        style="fill:#00ff00;stroke:#00ff00;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:28.43423271px;font-family:'AR JULIAN';-inkscape-font-specification:'AR JULIAN, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:center;writing-mode:lr-tb;text-anchor:middle;fill-opacity:1;stroke-width:4;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
        y="59.576427"
        x="49.999763"
        id="tspan933"
        >{{text}}</tspan></text>
    <text
        xml:space="preserve"
        style="fill:#000000;stroke:#000000;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:28.43423271px;line-height:1.25;font-family:'AR JULIAN';-inkscape-font-specification:'AR JULIAN, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:center;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:middle;opacity:0.5;fill-opacity:1;stroke-width:4;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
        x="49.999763"
        y="59.576427"
        id="text939"><tspan
        id="tspan937"
        x="49.999763"
        y="59.576427"
        style="fill:#000000;stroke:#000000;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:28.43423271px;font-family:'AR JULIAN';-inkscape-font-specification:'AR JULIAN, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:center;writing-mode:lr-tb;text-anchor:middle;fill-opacity:1;stroke-width:4;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
        >{{text}}</tspan></text>
    <text
        xml:space="preserve"
        style="fill:#ffffff;stroke:none;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:28.43423271px;line-height:1.25;font-family:'AR JULIAN';-inkscape-font-specification:'AR JULIAN, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:center;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:middle;fill-opacity:1;stroke-width:0"
        x="49.999763"
        y="59.576427"
        id="text924"><tspan
        id="tspan922"
        x="49.999763"
        y="59.576427"
        style="fill:#ffffff;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:28.43423271px;font-family:'AR JULIAN';-inkscape-font-specification:'AR JULIAN, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:center;writing-mode:lr-tb;text-anchor:middle;stroke-width:0"
        >{{text}}</tspan></text>
    </g>

</svg>