<div class="bg">

  <div *ngIf="!shared.player || !shared.sse || !shared.connected" class="fullpage">
  
    <div *ngIf="shared.player">Player</div>
    <div *ngIf="!shared.player">!Player</div>
    
    <div *ngIf="shared.sse">SSE</div>
    <div *ngIf="!shared.sse">!SSE</div>
    
    <div *ngIf="!shared.player && !shared.sse">
      <app-register-player></app-register-player>
    </div>
    <div *ngIf="shared.player && !shared.sse">
      Server non raggiungibile! <span (click)="shared.reconnect()">Connetti!</span>
    </div>

    <div *ngIf="shared.player && shared.sse && !shared.connected">
      Connessione in corso... <span (click)="refresh()">attendi!</span>
    </div>

  </div>
  
  <router-outlet *ngIf="shared.player && shared.sse"></router-outlet>
  
  <div class="panel-menu-list bottom-right-menu">
    <div class="svg-button" (click)="sendHello()">
      <app-svg-button text="Hello!"></app-svg-button>
    </div>
    <div class="svg-button">
      <app-fullscreen-toggle></app-fullscreen-toggle>
    </div>
  </div>

</div>
