<div class="bg">

  <div *ngIf="!shared.player || !shared.sse || !shared.connected" class="fullpage">
  
    <div *ngIf="shared.player">Player</div>
    <div *ngIf="!shared.player">!Player</div>
    
    <div *ngIf="shared.sse">SSE status {{shared.sse.readyState}}</div>
    <div *ngIf="!shared.sse">!SSE</div>
    
    <div *ngIf="!shared.player && !shared.sse">
      <app-register-player></app-register-player>
    </div>
    <div *ngIf="shared.player && !shared.sse">
      Server non raggiungibile! <span (click)="shared.reconnect()">Connetti!</span>
    </div>

    <div *ngIf="shared.player && shared.sse && !shared.connected">
      <div *ngIf="shared.sse.readyState === 0">
        Connessione in corso... <span class="inline-button" (click)="refresh()">attendi</span>
      </div>
      <div *ngIf="shared.sse.readyState === 1">
        Connessione aperta <span class="inline-button" (click)="refresh()">ricarica</span>
      </div>
      <div *ngIf="shared.sse.readyState === 2">
        Connessione terminata <span class="inline-button" (click)="shared.reconnect()">riconnetti</span>
      </div>
    </div>

  </div>
  
  <router-outlet *ngIf="shared.player && shared.sse && shared.connected"></router-outlet>
  
  <div class="panel-menu-list bottom-right-menu">
    <div class="svg-button">
      <app-fullscreen-toggle></app-fullscreen-toggle>
    </div>
  </div>

</div>
