.leader-board {
    svg {
        height: 80px;
    }
}

.my-table{
    svg {
        height: 60px;
    }
    .seat-pending-true {
        opacity: 0.5;
    }
}

.all-players {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    svg {
        height: 80px;
        padding: 5px;
    }
    .seated-true {
        opacity: 0.5;
    }
}