@font-face {
    font-family: 'AR JULIAN';
    src: url(assets/ar-julian.ttf) format("truetype");
    font-weight:300;
}

.leader-board {
    svg {
        height: 80px;
    }
}

.svg-button {
    svg {
        height: 60px;
    }
}

.inline-button {
    user-select: none;
    font-weight: 700;
}

.my-table{
    .my-avatar svg {
        height: 80px;
    }
    .other-player svg {
        height: 60px;
    }
    .seat-pending-true {
        opacity: 0.5;
    }
}

.all-players {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    svg {
        height: 80px;
        padding: 5px;
    }
    .seated-true {
        opacity: 0.5;
    }
}

.pick-piece {
    opacity: 0.4;
}
.pick-piece.pick-none {
    opacity: 1;
}
#dragon.pick-piece.pick-dragon, #chest.pick-piece.pick-chest, #gold.pick-piece.pick-gold, #sword.pick-piece.pick-sword, #shield.pick-piece.pick-shield {
    opacity: 1;
}

.aura {
    opacity: 0;
}
#aura-dragon.guess-dragon, #aura-chest.guess-chest, #aura-gold.guess-gold, #aura-sword.guess-sword, #aura-shield.guess-shield,  {
    opacity: 1;
}