<div class="fullpage">

    <div class="all-players">
        <div *ngFor="let player of players">
            <div (click)="clickPlayer(player)" class="available-player seated-{{seatedmap.hasOwnProperty(player.uuid)}}">
                <app-player-avatar [player]="player"></app-player-avatar>
            </div>
        </div>
    </div>

</div>

<div class="panel-menu-list top-left-menu my-table">
    <div class="my-avatar">
        <app-player-avatar [player]="shared.player"></app-player-avatar>
    </div>
    <ng-container *ngIf="mytable">
        <div *ngIf="mytable.owner.uuid !== shared.player.uuid" class="other-player table-owner">
            <app-player-avatar [player]="mytable.owner"></app-player-avatar>
        </div>
        <ng-container *ngFor="let seat of mytable.seats">
            <div *ngIf="seat.player.uuid !== shared.player.uuid" class="other-player seat-pending-{{seat.pending}}">
                <app-player-avatar [player]="seat.player"></app-player-avatar>
            </div>
        </ng-container>
        <div *ngIf="mytable.owner.uuid === shared.player.uuid && tableCanStart(mytable)" (click)="startTable(mytable)">
            <app-svg-button text="Inizia!"></app-svg-button>
        </div>
        <ng-container *ngIf="mytable.owner.uuid !== shared.player.uuid && isPending(mytable)" >
            <div (click)="acceptInvitation(mytable, true)">
                <app-svg-button text="Accetta!"></app-svg-button>
            </div>
            <div (click)="acceptInvitation(mytable, false)">
                <app-svg-button text="Rifiuta!"></app-svg-button>
            </div>
        </ng-container>
    </ng-container>
    <div *ngIf="!mytable" (click)="goSolo()">
        <app-svg-button text="Solo!"> </app-svg-button>
    </div>
</div>
